/* --------------------------------------------------------------------------------------------
                                        GENERAL
-------------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'Nexa Rust Slab';
    src: url('./fonts/NexaRustSlab.woff2') format('woff2'),
        url('./fonts/NexaRustSlab.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bookman Old Style';
    src: url('./fonts/BookmanOldStyle.woff2') format('woff2'),
        url('./fonts/BookmanOldStyle.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    /* Colors */
    --c-primary: #FBA200;
    --c-secondary: #3F2700;
    --c-error: #dd3f0e;
    --c-grey: #525150;
    --c-dark: #1C1201;
    --c-light: #FDF5E8;

    /* Font family */
    /* --ff-name */

    /* Font size */
    --fs-ratio: 1.2;
    --fs-s: calc(var(--fs-m) / var(--fs-ratio));
    --fs-m: 1em;
    --fs-l: calc(var(--fs-m)* var(--fs-ratio));
    --fs-xl: calc(var(--fs-l)* var(--fs-ratio));
    --fs-xxl: calc(var(--fs-xl)* var(--fs-ratio));

    /* Font Family */
    --ff-nuxt: 'Nexa Rust Slab';
    --ff-montserrat: 'Montserrat', sans-serif;

    /* Font weight */
    --fw-regular: 400;
    --fw-semi_bold: 600;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--ff-montserrat);
    font-size: var(--fs-m);
    line-height: 1.45;
    font-weight: var(--fw-regular);
    background-color: var(--c-light);
}

body {
    -webkit-font-smoothing: antialiased;
}

body.home {
    background: url('../img/vintage-texture.jpg') no-repeat center top / 100% auto;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

:is(a, a:hover, button) {
    text-decoration: none;
    color: var(--c-dark);
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
    max-width: 80ch;
}

/* --------------------------------------------------------------------------------------------
                                        LAYOUT
-------------------------------------------------------------------------------------------- */

/* ------------------------
        GENERAL
------------------------ */

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 6rem 1fr;
    grid-template-areas:
        'navbar'
        'content';
}

main {
    grid-area: content;
}

/* ------------------------
      RECEIPT TABS
------------------------ */


.l-receipttabs {
    display: grid;
    grid-template-columns: 1fr 350px;
    column-gap: 45px;
}


/* --------------------------------------------------------------------------------------------
                                      COMPONENT
-------------------------------------------------------------------------------------------- */

/* ------------------------
       MAIN BANNER
------------------------ */

.mainbanner {
    padding: 0 9vw;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--c-grey);
}

.mainbanner::after {
    content: '';
    width: 33%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-left: 1px solid var(--c-grey);
    border-right: 1px solid var(--c-grey);
}

/* ------------------------
        PRELUDE
------------------------ */

.prelude {
    height: calc(100vh - 6rem);
    margin-bottom: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.prelude__title {
    font-size: calc(var(--fs-xxl) * 3.5);
    line-height: 1;
}

.prelude__title--first {
    width: 5ch;
    align-self: center;
    justify-self: flex-end;
}

.prelude__beer {
    width: 90%;
    height: 90%;
    object-fit: contain;
    align-self: center;
    justify-self: center;
}

.prelude__right-container {
    height: 100%;
    padding: 75px 0 40px;
    display: grid;
    align-content: space-between;
}

.prelude__fabrique {
    justify-self: center;
}

.prelude__fabrique-square {
    width: 150px;
    height: 150px;
    border: solid 1px var(--c-grey);
}

.prelude__fabrique-img {
    width: 95%;
    margin-inline: auto;
    transform: translateY(-25%);
}

.prelude__subtitle {
    margin: 10px 0;
}

.prelude__cta {
    display: flex;
    align-items: center;
    font-weight: var(--fw-semi_bold);
}

.prelude__arrow {
    width: 30px;
    margin-left: 15px;
    position: relative;
    z-index: 2;
    transition: transform .2s cubic-bezier(0.39, 0.58, 0.57, 1);
}

.prelude__cta-square {
    width: 35px;
    height: 35px;
    transform: translateX(-15px);
    background-color: var(--c-primary);
}

.prelude__fabrique:hover .prelude__arrow {
    transform: translateX(8px);
}


/* ------------------------
       INVENTAIRE
------------------------ */

.inventaire {
    position: relative;
    z-index: 2;
}

.inventaire__title {
    margin-bottom: 50px;
    text-align: center;
    font-size: calc(var(--fs-xxl) * 3.5);
    line-height: 1;
}

/* ------------------------
       INFORMATIONS
------------------------ */

.informations {
    margin: -50px 0 50px;
    position: relative;
    overflow: hidden;
}

.informations::before {
    content: '';
    width: 140vw;
    height: 300px;
    position: absolute;
    top: 15px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    border-radius: 50% / 100% 100% 0 0;
    background-color: var(--c-light);
}

.informations__inner {
    width: 90%;
    margin-inline: auto;
    margin-bottom: 50px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 35px;
    position: relative;
    z-index: 2;
    background-color: var(--c-dark);
    color: var(--c-grey);
}

.informations__item {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 15px;
}

.informations__icon-container {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-secondary);
}

.informations__icon {
    width: 55%;
}

.informations__title {
    color: var(--c-light);
}

/* ------------------------
           TABS
------------------------ */

.tabs-ingredients__list {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    column-gap: 75px;
}

.tabs-ingredients__item.active {
    font-weight: bold;
}

.tabs-ingredients__item {
    padding: 0 1em;
    cursor: pointer;
}

.tabs-ingredients .tab-ingredients__pane {
    display: none;
}

.tabs-ingredients .tab-ingredients__pane.active {
    display: block;
}

/* ------------------------
       TAB RECEIPT
------------------------ */

.tabreceipt {
    display: flex;
    flex-direction: column;
}

.tabreceipt__line {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'name type quantity step time';
}

.tabs-ingredients .tabreceipt__line {
    grid-template-columns: repeat(4, 1fr);
}

.tabreceipt__line.main {
    background-color: var(--c-dark);
    color: var(--c-light);
}

.tabreceipt__item {
    padding: .5rem;
    cursor: pointer;
}

.tabreceipt__item p {
    display: inline;
}

.tabreceipt__content {
    text-transform: capitalize;
}

/* ------------------------
       INIT RECEIPT
------------------------ */

.initreceipt {
    margin: 1rem 0;
    display: flex;
    column-gap: 3rem;
}

.initreceipt__group {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2, auto);
    column-gap: .5rem;
    grid-template-areas:
        'label input suffix'
        '. error .';
    position: relative;
}

.initreceipt__label {
    grid-area: label;
    font-weight: var(--fw-semi_bold);
}

.initreceipt__input {
    padding-inline: .25rem;
    grid-area: input;
}

.initreceipt__input.error {
    border-color: var(--c-error);
}

.initreceipt__suffix {
    grid-area: suffix;
}

.initreceipt__error {
    grid-area: error;
}

/* ------------------------
    MODAL INGREDIENT
------------------------ */

.modal-ingredients {
    padding: 2rem 1rem;
    display: none;
    grid-template-columns: repeat(2, max(15vw, 350px));
    column-gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: solid 1px var(--c-dark);
    border-radius: 5px;
    background-color: var(--c-white);
}

/* Tabs */

.modal-tabs {
    margin: 1rem 0 .5rem;
}

/* Cross */

.modal-ingredients__cross {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    background-color: var(--c-grey);
    cursor: pointer;
}

.modal-ingredients__cross::before, .modal-ingredients__cross::after {
    content: '';
    width: 13px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--c-dark);
}

.modal-ingredients__cross::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Listing */

.modal-ingredients__pane {
    max-height: 10rem;
    overflow-y: scroll;
}

.tab-ingredients__list-item {
    padding: .35rem .5rem;
    border: solid 1px var(--c-dark);
    font-size: var(--fs-s);
    cursor: pointer;
}

.tab-ingredients__list-item+.tab-ingredients__list-item {
    border-top: none;
}

.tab-ingredients__list-item:is(:hover, .selected) {
    background-color: var(--c-grey);
}

/* Form */

.form__add-ingredient {
    align-self: flex-end;
}

.form__add-ingredient__group {
    display: flex;
    flex-direction: column;
}

.form__add-ingredient__group+.form__add-ingredient__group {
    margin-top: .5rem;
}

.form__add-ingredient__label {
    margin-bottom: .25rem;
    color: var(--c-dark);
    font-size: var(--fs-s);
}

.form__add-ingredient__inputgroup {
    display: grid;
    grid-template-columns: 50% 1fr;
    align-items: center;
    column-gap: 1rem;
}

.form__add-ingredient__input {
    padding: .35rem;
    font-size: var(--fs-m);
}

.form__add-ingredient input[type="submit"] {
    margin-top: 1rem;
}

/* ------------------------
        TAB CARAC
------------------------ */

.tabcarac {
    padding-right: 25px;
}

.tabcarac__item {
    display: flex;
    justify-content: space-between;
}

.tabcarac__item+.tabcarac__item {
    margin-top: 10px;
}

.tabcarac__value {
    min-width: 7ch;
    padding: 2px 8px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
}

/* --------------------------------------------------------------------------------------------
                                        UTILITIES
-------------------------------------------------------------------------------------------- */

/* ------------------------
          FONTS
------------------------ */
/* Font family */

.ff--nuxt {
    font-family: var(--ff-nuxt);
}

/* Font weight */

.fw--semibold {
    font-weight: var(--fw-semi_bold);
}

/* Font size */

.fs--s {
    font-size: var(--fs-s);
}

.fs--m {
    font-size: var(--fs-m);
}

.fs--l {
    font-size: var(--fs-l);
}

.fs--xl {
    font-size: var(--fs-xl);
}

/* ------------------------
    CLICKABLE ELEMENTS
------------------------ */

/* CTA Classic */

.cta {
    padding: 15px 20px;
    position: relative;
    border: none;
    background-color: var(--c-primary);
    color: var(--c-dark);
    text-transform: uppercase;
    font-weight: var(--fw-semi_bold);
    cursor: pointer;
    transition: all .15s ease-in;
}

.cta::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 6px;
    right: -4px;
    z-index: -2;
    border: solid 1px var(--c-dark);
}

.cta::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--c-primary);
}

.cta:hover {
    background-color: var(--c-primary);
    color: var(--c-white);
}

.cta.disabled {
    cursor: not-allowed;
}

/* Hover highlighted */

.highlighted {
    position: relative;
    z-index: 2;
}

.highlighted::before {
    content: '';
    width: 0;
    height: 120%;
    position: absolute;
    top: -10%;
    left: -6%;
    z-index: -1;
    background-color: var(--c-primary);
    transition: width .4s cubic-bezier(0, 0, 0.2, 1);
}

.highlighted:hover::before {
    width: 112%;
}