/* --------------------------------------------------------------------------------------------
                                        GENERAL
-------------------------------------------------------------------------------------------- */

:root {
    /* Colors */
    --c-secondary: #FD8008;
    --c-primary: #0F80FF;
    --c-error: #ea1c1c;
    --c-grey: #d0d0d0;
    --c-black: #000000;
    --c-white: #FFFFFF;

    /* Font family */
    /* --ff-name */

    /* Font size */
    --fs-ratio: 1.2;
    --fs-s: calc(var(--fs-m) / var(--fs-ratio));
    --fs-m: 1em;
    --fs-l: calc(var(--fs-m)* var(--fs-ratio));
    --fs-xl: calc(var(--fs-l)* var(--fs-ratio));

    /* Font weight */
    --fw-regular: 400;
    --fw-semi_bold: 600;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: var(--fs-m);
    line-height: 1.45;
    font-weight: var(--fw-regular);
}

body {
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

:is(a, a:hover, button) {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
    max-width: 80ch;
}

h1 {
    font-size: var(--fs-xl);
}

h2 {
    font-size: var(--fs-l);
}

h3 {
    font-size: var(--fs-m);
}

h4 {
    font-size: var(--fs-s);
}

/* --------------------------------------------------------------------------------------------
                                        LAYOUT
-------------------------------------------------------------------------------------------- */

/* ------------------------
        GENERAL
------------------------ */

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 6rem 1fr;
    grid-template-areas:
        'navbar'
        'content';
    row-gap: 1rem;
}

.mainnavbar {
    grid-area: navbar;
}

main {
    grid-area: content;
}

/* ------------------------
      CREATE RECEIPT
------------------------ */

.createreceipt {
    display: flex;
    column-gap: 3rem;
}



/* --------------------------------------------------------------------------------------------
                                      COMPONENT
-------------------------------------------------------------------------------------------- */

/* ------------------------
           TABS
------------------------ */

.tabs-ingredients__list {
    display: flex;   
}

.tabs-ingredients__item.active {
    font-weight: bold;
}

.tabs-ingredients__item {
    padding: 0 1em;
    cursor: pointer;
}

.tabs-ingredients .tab-ingredients__pane {
    display: none;
}

.tabs-ingredients .tab-ingredients__pane.active {
    display: block;
} 

/* ------------------------
       TAB RECEIPT
------------------------ */

.tabreceipt {
    display: flex;
    flex-direction: column;
}

.tabreceipt__line {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'name type quantity step time';
}

.tabs-ingredients .tabreceipt__line {
    grid-template-columns: repeat(4, 1fr);
}

.tabreceipt__line.main {
    background-color: var(--c-grey);
}

.tabreceipt__item {
    padding: .5rem;
    border: solid 1px var(--c-black);
}

/* ------------------------
    CREATE RECEIPT
------------------------ */

.createreceipt {
    margin: 1rem 0;
}

.createreceipt__group {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2, auto);
    column-gap: .5rem;
    grid-template-areas:
        'label input suffix'
        '. error .';
    position: relative;
}

.createreceipt__label {
    grid-area: label;
    font-weight: var(--fw-semi_bold);
}

.createreceipt__input {
    padding-inline: .25rem;
    grid-area: input;
}

.createreceipt__input.error {
    border-color: var(--c-error);
}

.createreceipt__suffix {
    grid-area: suffix;
}

.createreceipt__error {
    grid-area: error;
}

/* --------------------------------------------------------------------------------------------
                                        UTILITIE
-------------------------------------------------------------------------------------------- */

/* ------------------------
          CTA
------------------------ */

.cta {
    padding: .5rem 1rem;
    border: solid 2px var(--c-primary);
    background-color: transparent;
    color: var(--c-primary);
    cursor: pointer;
    transition: all .15s ease-in;
}

.cta:hover {
    background-color: var(--c-primary);
    color: var(--c-white);
}