/* --------------------------------------------------------------------------------------------
                                        GENERAL
-------------------------------------------------------------------------------------------- */

:root {
    /* Colors */
    --c-secondary: #FD8008;
    --c-primary: #0F80FF;
    --c-error: #ea1c1c;
    --c-light-grey: #d0d0d0;
    --c-dark-grey: #575757;
    --c-black: #000000;
    --c-white: #FFFFFF;

    /* Font family */
    /* --ff-name */

    /* Font size */
    --fs-ratio: 1.2;
    --fs-s: calc(var(--fs-m) / var(--fs-ratio));
    --fs-m: 1em;
    --fs-l: calc(var(--fs-m)* var(--fs-ratio));
    --fs-xl: calc(var(--fs-l)* var(--fs-ratio));

    /* Font weight */
    --fw-regular: 400;
    --fw-semi_bold: 600;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: var(--fs-m);
    line-height: 1.45;
    font-weight: var(--fw-regular);
}

body {
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

:is(a, a:hover, button) {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
    max-width: 80ch;
}

h1 {
    font-size: var(--fs-xl);
}

h2 {
    font-size: var(--fs-l);
}

h3 {
    font-size: var(--fs-m);
}

h4 {
    font-size: var(--fs-s);
}

/* --------------------------------------------------------------------------------------------
                                        LAYOUT
-------------------------------------------------------------------------------------------- */

/* ------------------------
        GENERAL
------------------------ */

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 6rem 1fr;
    grid-template-areas:
        'navbar'
        'content';
    row-gap: 1rem;
}

.mainnavbar {
    grid-area: navbar;
}

main {
    grid-area: content;
}

/* ------------------------
      RECEIPT TABS
------------------------ */

.l-receipttabs {
    display: grid;
    grid-template-columns: 1fr 350px;
    column-gap: 45px;
}


/* --------------------------------------------------------------------------------------------
                                      COMPONENT
-------------------------------------------------------------------------------------------- */

/* ------------------------
           TABS
------------------------ */

.tabs-ingredients__list {
    display: flex;
}

.tabs-ingredients__item.active {
    font-weight: bold;
}

.tabs-ingredients__item {
    padding: 0 1em;
    cursor: pointer;
}

.tabs-ingredients .tab-ingredients__pane {
    display: none;
}

.tabs-ingredients .tab-ingredients__pane.active {
    display: block;
}

/* ------------------------
       TAB RECEIPT
------------------------ */

.tabreceipt {
    display: flex;
    flex-direction: column;
}

.tabreceipt__line {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'name type quantity step time';
}

.tabs-ingredients .tabreceipt__line {
    grid-template-columns: repeat(4, 1fr);
}

.tabreceipt__line.main {
    background-color: var(--c-light-grey);
}

.tabreceipt__item {
    padding: .5rem;
    border: solid 1px var(--c-black);
    cursor: pointer;
}

.tabreceipt__item p {
    display: inline;
}

.tabreceipt__content {
    text-transform: capitalize;
}

/* ------------------------
       INIT RECEIPT
------------------------ */

.initreceipt {
    margin: 1rem 0;
    display: flex;
    column-gap: 3rem;
}

.initreceipt__group {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2, auto);
    column-gap: .5rem;
    grid-template-areas:
        'label input suffix'
        '. error .';
    position: relative;
}

.initreceipt__label {
    grid-area: label;
    font-weight: var(--fw-semi_bold);
}

.initreceipt__input {
    padding-inline: .25rem;
    grid-area: input;
}

.initreceipt__input.error {
    border-color: var(--c-error);
}

.initreceipt__suffix {
    grid-area: suffix;
}

.initreceipt__error {
    grid-area: error;
}

/* ------------------------
    MODAL INGREDIENT
------------------------ */

.modal-ingredients {
    padding: 2rem 1rem;
    display: none;
    grid-template-columns: repeat(2, max(15vw, 350px));
    column-gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: solid 1px var(--c-black);
    border-radius: 5px;
    background-color: var(--c-white);
}

/* Tabs */

.modal-tabs {
    margin: 1rem 0 .5rem;
}

/* Cross */

.modal-ingredients__cross {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    background-color: var(--c-light-grey);
    cursor: pointer;
}

.modal-ingredients__cross::before, .modal-ingredients__cross::after {
    content: '';
    width: 13px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--c-black);
}

.modal-ingredients__cross::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Listing */

.modal-ingredients__pane {
    max-height: 10rem;
    overflow-y: scroll;
}

.tab-ingredients__list-item {
    padding: .35rem .5rem;
    border: solid 1px var(--c-black);
    font-size: var(--fs-s);
    cursor: pointer;
}

.tab-ingredients__list-item+.tab-ingredients__list-item {
    border-top: none;
}

.tab-ingredients__list-item:is(:hover, .selected) {
    background-color: var(--c-light-grey);
}

/* Form */

.form__add-ingredient {
    align-self: flex-end;
}

.form__add-ingredient__group {
    display: flex;
    flex-direction: column;
}

.form__add-ingredient__group+.form__add-ingredient__group {
    margin-top: .5rem;
}

.form__add-ingredient__label {
    margin-bottom: .25rem;
    color: var(--c-dark-grey);
    font-size: var(--fs-s);
}

.form__add-ingredient__inputgroup {
    display: grid;
    grid-template-columns: 50% 1fr;
    align-items: center;
    column-gap: 1rem;
}

.form__add-ingredient__input {
    padding: .35rem;
    font-size: var(--fs-m);
}

.form__add-ingredient input[type="submit"] {
    margin-top: 1rem;
}

/* ------------------------
        TAB CARAC
------------------------ */

.tabcarac {
    padding-right: 25px;
}

.tabcarac__item {
    display: flex;
    justify-content: space-between;
}

.tabcarac__item+.tabcarac__item {
    margin-top: 10px;
}

.tabcarac__value {
    min-width: 7ch;
    padding: 2px 8px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
}

/* --------------------------------------------------------------------------------------------
                                        UTILITIE
-------------------------------------------------------------------------------------------- */

/* ------------------------
          CTA
------------------------ */

.cta {
    padding: .5rem 1rem;
    border: solid 2px var(--c-primary);
    background-color: transparent;
    color: var(--c-primary);
    cursor: pointer;
    transition: all .15s ease-in;
}

.cta:hover {
    background-color: var(--c-primary);
    color: var(--c-white);
}

.cta.disabled {
    border-color: var(--c-dark-grey);
    background-color: var(--c-light-grey);
    color: var(--c-dark-grey);
    opacity: .75;
    pointer-events: none;
}